.container {
  height: 85vh;
  width: 70vw;
  min-width: 250px;
  border: 5px solid black;
  box-sizing: border-box;
  margin: auto;
}

.header {
  padding: 0 20px;
  height: 10%;
  font-weight: bold;
  font-size: 36px;
  display: flex;
  align-items: center;
}

.wrapper {
  display: flex;
  height: 90%;
  width: 100%;
}

.sidebar {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.profile {
  aspect-ratio: 1;
  border-width: 3px 3px 3px 0;
  border-color: black;
  border-style: solid;
  display: flex;
}

.menu {
  flex: 1;
  border-right: 1px solid black;
  font-size: 20px;
}

.menu > * {
  padding: 10px;
  border-bottom: 1px solid black;
}

.logo {
  height: 10%;
  border-top: 1px solid black;
  border-right: 1px solid black;
  display: flex;
  text-align: center;
  align-items: center;
}

.logo__p {
  margin: auto;
  padding: 5% 10%;
  width: 50%;
  font-size: 20px;
  font-weight: bold;
  border: 1px solid black;
  border-radius: 100%;
}

.content {
  aspect-ratio: 1;
  border-top: 2px solid black;
  overflow-y: scroll;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  grid-auto-columns: 50% 50%;
  grid-auto-rows: 50% 50%;
}
